* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 62.5%;
    background-color: rgb(212, 230, 254);
    font-family: sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    background-color: rgb(253, 254, 255);
    width: 30%;
    margin: 5rem auto 0 auto;
    padding: 2rem 1rem 0 3rem;
}

.column {
    width: 100%;
    height: 26rem;
}

h1 {
    font-weight: 100;
    color: rgb(0, 5, 239);
    padding-bottom: 2rem;
    font-size: 1.5rem;
    text-align: left;
}

span {
    width: 100%;
}

.main.info {
    display: grid;
    grid-template-columns: auto auto;
}

input {
    border: none;
    border-radius: 0.5rem;
}

.main.info > input {
    width: 90%;
    padding: 1rem 0 1rem 0;
}

input::placeholder {
    padding: 1rem;
    color: rgb(0, 5, 239);
    font-weight: bold;
}

.address > input, .message > input {
    width: 100%;
}

input#name, input#lastname {
    background-color: rgb(231, 233, 254);
}

input#email, input#phone {
    margin-top: 1rem;
    background-color: rgb(220, 225, 255);
}

.address input, .message input{
    margin-top: 1rem;
    padding: 1rem 0 1rem 0;
    width: 95.2%;
}

.address input{
    background-color: rgb(199, 205, 253);
}

.message input{
    background-color: rgb(165, 177, 253);
    height: 6rem;
}

.submit {
    margin-top: 0.2rem;
    width: 95%;
    display: flex;
    justify-content: center;
    padding: 1rem 0 0 0;
}

.submit > input {
    padding: 1rem 2rem 1rem 2rem;
    border-radius: 2rem;
    background-color: rgb(35, 59, 245);
    color: rgb(245, 255, 242);
    font-weight: bold;
}

pre {
    font-size: 1rem;
    color: rgb(88, 205, 176);
    letter-spacing: -1px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
}